body {
  padding: 0px;
  margin: 0px;
}

@page {
  margin: 0.3cm 0cm;
  size: A4;
  padding: 10px;
}

@media print {
  .hr_color {
    background-color: rgb(204, 204, 204) !important;
    -webkit-print-color-adjust: exact;
  }
  .bg_color {
    background-color: rgb(236, 236, 236) !important;
    -webkit-print-color-adjust: exact;
  }
}
@media screen {
  .hr_color {
    background-color: rgb(204, 204, 204) !important;
    -webkit-print-color-adjust: exact;
  }
  .bg_color {
    background-color: rgb(236, 236, 236) !important;
    -webkit-print-color-adjust: exact;
  }
}
